.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache/
.obsidian/plugins/
.claude/sessions/
.claude/worktrees

# Large images should not be checked into git, handle with Obsidian Sync
*.png
*.jpg
